@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(180deg, rgba(162,246,234,1) 0%, rgba(115,174,196,1) 50%, rgba(56,96,149,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

/*--------------------------------*/
/*------------Header--------------*/
/*--------------------------------*/
header{
    padding:10px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(60,129,119,1) 0%, rgba(56,107,145,1) 50%, rgba(19,42,97,1) 100%);
}

nav {
    display: flex;
    width: 1200px;
    margin: auto;
}

header img {
    height: 50px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

nav div {
    width: 100%;
}

nav h1 {
    font-size: 2.2rem;
    font-style: italic;
    width: 100%;
    color: #fff;
}

nav p {
    color: #fff;
    font-style: italic;
}

a {
    text-align: right;
    width: 100%;
    margin: auto;
    color: #fff;
    text-decoration: none;
}
/*--------------------------------*/
/*-------------Main---------------*/
/*--------------------------------*/
main {
    width: 1200px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
/*--------------------*/
/*-----Index.Html-----*/
/*--------------------*/

main img {
    width: 100%;
    margin-bottom: 30px;
}

main div {
    width: 1200px;
    display: flex;
}

section {
    width: 100%;
}

section:nth-child(2), section:nth-child(3){
    margin-left: 30px;
}

section h3:nth-child(1):hover, section h3:nth-child(3):hover {
    cursor: pointer;
    opacity: 50%;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: linear-gradient(90deg, rgba(34,94,86,1) 0%, rgba(31,72,103,1) 50%, rgba(10,28,70,1) 100%);
}

section ul {
    padding: 20px;
}

section li {
    margin-bottom: 20px;;
}

section li h4 {
    color: #fff;
}

section li p {
    color: #333;
    padding-left: 10px;
    font-style: italic;
}

.fish {
    padding-top: 80px;
    animation: fishSpin 2s infinite;
}

@keyframes fishSpin {
    25% {transform: rotate(20deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-20deg);}
}

/*--------------------*/
/*-----Sales.Html-----*/
/*--------------------*/
.storeContainer {
    margin-bottom: 70vh;
}

table {
    width: 100%;
    background-color: #189AB4;
    border: 2px solid black;
    padding: 2px;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
    padding-top: 13px;
    background-color: #D4F1F4;
}

th {
    height: 30px;
    padding: 10px 5px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Secular One', sans-serif;
}

tfoot td {
    background-color: #75E6DA;
}

/*--------------------------------*/
/*------------Footer--------------*/
/*--------------------------------*/
footer{
    padding:30px;
    background: linear-gradient(90deg, rgba(60,129,119,1) 0%, rgba(56,107,145,1) 50%, rgba(19,42,97,1) 100%);
}

footer p {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}